body {
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

/** HEADER **/
#header-nav {
    background-color: black;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

.navbar-brand {
    padding-top: 25px;
    margin-bottom: 25px;
}
.navbar-brand h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.8;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#collapsable-nav {
    background-color: black;
    padding: 0;
    border-top: 0;
    margin-left: -30px;
    margin-right: -30px;
}

#nav-list {
    margin: 0;
    background-color: ivory;
}
#nav-list li {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
#nav-list a {
    color: black;
}
#nav-list a:hover {
    background: #E7E7E7;
}
#nav-list a span {
    font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
border: 1px solid white;
}
.navbar-header button.navbar-toggle {
margin-top: 20px;
}
/* END HEADER */

/* CONTENT */
#main-content h2 {
    font-size: 1.75em;
    margin-bottom: 20px;
}
#chicken-section {
    background-color: green;
    color: white;
}
#beef-section {
    background-color: brown;
    color: white;
}
#sushi-section {
    background-color: royalblue;
    color: white;
}
#chicken-section, #beef-section, #sushi-section {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 1px solid #3F0C1F;
    overflow: hidden;
    padding: 40px 10px 10px 10px;
    margin-bottom: 30px;
}
#chicken-section:hover, #beef-section:hover, #sushi-section:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}
#chicken-section h3, #beef-section h3, #sushi-section h3 {
    position: absolute;
    Top: 0;
    right: 0;
    width: 100%;
    font-size: 1.25em;
    color: white;
    margin-top: 10px;
}
#chicken-section a, #beef-section a, #sushi-section a {
    text-decoration: underline;
    color: white;
}
/* END CONTENT */


/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    /* Header */
    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
    }
    /* End Header */
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
    .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }
}  